@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
    user-select: none;

}
::-webkit-scrollbar {
    width: 5px;
  }
  

  ::-webkit-scrollbar-track {
    background: #000000;
  }
  

  ::-webkit-scrollbar-thumb {
    background: #888;
    height: 50px; 
    border-radius: 20px;


  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


.page-1 {
    width: 100%;
    min-height: 100vh;
}
.page-2 {
    width: 100%;
    min-height: 50vh;
}


header {
    backdrop-filter: blur(5px);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
    box-shadow: 0 0 9px white;
}
body {
    background: url(7971.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
    letter-spacing: 2px;
    padding: 5px 10px;
    border-radius: 15px;
    user-select: none;
}
span.wly {
    color: #ff1b54 ;
}
.navigation {
    width: 5px;
    display: flex;
    padding: 10px 19vh;
}

.navigation a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    margin-right: 50px;
    align-items: center;
    position: relative;
}
.navigation .cc {
    transition: all 0.3s ease-in-out;
    user-select: none;

}

.navigation .cc::after {
    content: '';
    position: absolute;
    height: 2px;
    background-color: #ff1b54;
    bottom: 0;
    right: 0;
    width: 100%;
    visibility: hidden;
    transform: scaleX(0) ;
    transition: all 0.3s ease-in-out;
}
.navigation .cc:hover{
    transform: scale(1.1)
}
.navigation .cc:hover::after{
    visibility: visible;
    transform: scaleX(1) ;
  
}

.navigation .vv {
    transition: all 0.3s ease-in-out;
    user-select: none;

}

.navigation .vv::after {
    content: '';
    position: absolute;
    height: 2px;
    background-color: #ff1b54;
    bottom: 0;
    right: 0;
    width: 100%;
    visibility: hidden;
    transform: scaleX(0) ;
    transition: all 0.3s ease-in-out;
}
.navigation .vv:hover{
    transform: scale(1.1)
}
.navigation .vv:hover::after{
    visibility: visible;
    transform: scaleX(1) ;
  
}

.info {
    font-size: 2em;
    position: absolute;
    top: 37%;
    left: 200px;
    padding: 5px 10px;
    /* transform: translateY(-50%); */
 
}

h4 {
    user-select: none;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color: #ffff;
}
h1 {
    user-select: none;
    color: #ffff;
    letter-spacing: 2px;

}
h1 span{
    user-select: none;
    width: fit-content;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px  #ff1b54;
}

h3 {
    user-select: none;
    margin-top: 10px;
    color: #ffff;
}
p{
    color: #ffff;
    font-size: 0.5em;
    margin-top: 10px;
    word-spacing: 2px;
    line-height: 26px;
}
button a {
    text-decoration: none;
    color: #000000;
    transition: all 0.3s ease-in-out;

}
button a {
    color: #ffffff;

}
button{
    background-color: transparent;
    border: 3px solid #ff1b54a5;
    box-shadow: 0  0 20px #ff1b54a5;
    text-decoration: none;
    font-size: 0.8em;
    margin-top: 20px;
    font-weight: 500;
    border-radius: 15px;
    padding: 5px 10px;
    transition: all 0.3s ease-in-out;
}
button:hover a {
    color: #ff1b54;
}

button:hover{
    background-color: #ffe7e7;
    transform: scale(1.1);
    color: #ff1b54;
}


.icons {
    text-decoration: none;
    margin-top: 20px;
    cursor: pointer;
    user-select: none;
}


.linkden,
.face {
    position: relative;
    margin-right: 30px;
    color: #ff1b54;
    transition: all 0.3s ease-in-out;
} 
.linkden:hover,
.face:hover {
    color: #ff1b5485;
}

.linkden::before {
    content: '';
    height: 2px;
    background-color: #ffffff;
    bottom: 0;
    right: 0;
    width: 100%;
    visibility: hidden;
    position: absolute;
    transform: scaleX(0) ;
    transition: all 0.3s ease-in-out;
}

.linkden:hover::before {
    visibility: visible;
    transform: scaleX(1) ;
  

}

.face::before {
    content: '';
    height: 2px;
    background-color: #ffffff;
    bottom: 0;
    right: 0;
    width: 100%;
    visibility: hidden;
    position: absolute;
    transform: scaleX(0) ;
    transition: all 0.3s ease-in-out;
}

.face:hover::before {
    visibility: visible;
    transform: scaleX(1) ;
  

}
.photo-cover {
    background-color: transparent;
    position: relative;
    height: 600px;
    width: 600px;
    top: 25vb;
    left: 115vb;

}
.pp {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
}
body section .ss {
    height: 100%;
  
}

.page-2 h2 {
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    color: #ff1b54;
    font-size: 1.8rem;
    text-shadow: 1px 1px 5px #ff1b54;
    margin: 20px;
    
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;


    
}
.content .card {
    box-shadow: 0 0px 10px rgba(255, 255, 255, 0.786);
    backdrop-filter: blur(7px);
    height: 300px;
    width: 25%;
    margin: 0 6%;
    text-align: center;
    border-radius: 8px;
    transition: 0.7s ease;
}

.card:hover {
    background-color: #ffffff44;
    transform: scale(1.1);
}

.content .card .icon {
    padding-top: 20px;
    color: #ffffff;
    font-size: 10em;
}
.content .card h3 {
    color: #ff1b54;
    font-size: 40px;
    
}
footer {
    box-shadow: 0 0 12px white;
    width: 100%;
    height: 7vh;
    backdrop-filter: blur(7px);
    display: flex;
    justify-content: center;

}

footer a {
    padding-top: .5em;
    color: #ff1b54;
    font-size: 2em;
    margin: 0 50px;
    transition: transform .3s ease-in-out ;
}

footer a:hover {
    transform: scale(1.3);
}
